<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="App">
        <header class="App-header">
        <h1 class="log">Laughter Company</h1>
        <h3 class="log">Hii, <%=name %></h3>
        <form action="/logout" method="get">
          <div class="btns">
        <button class="btn" type="submit">Logout</button>
          </div>
        </form>
  
        </header>
      </div>
    
</body>
</html>